{% extends 'base.html' %}

{% block head_title %}
    歌会詳細
{% endblock %}

{% block body_title %}
    {% if event %}
    <h1>
        {{ event.title }}
    </h1>
    {% else %}
    <h1>
        歌会が見つかりません。
    </h1>
    {% endif %}
{% endblock %}
{% block content %}
    {% if event %}
    <div>
        司会者：{{ event.organizer.last_name }}{{ event.organizer.first_name }}<br>
        開始日時：{{ event.start_time }}<br>
        場所：{{ event.location }}<br>
        詠草提出締切：{{ event.deadline }}<br>
        コメント：{{ event.ann_desc }}
    </div>
    {% else %}
    <div>
        この歌会は非公開であるか、存在しません。
    </div>
    {% endif %}
    <div>
        <a href="{% url 'utakais:event_index' %}" class="btn btn-secondary">歌会告知一覧へ</a>
    </div>
{% endblock %}