{% extends 'base.html' %}

{% block head_title %}
    <title>歌会詳細</title>
{% endblock %}

{% block body_title %}
    <h1>{{ event.title }}</h1>
{% endblock %}

{% block content %}
    {% if user.is_authenticated and event.organizer and user == event.organizer %}
    <div>
        <a href="{% url 'utakais:event_admin' pk=event.pk %}">歌会管理へ</a>
    </div>
    {% endif %}
    <div>
        司会者：{{ event.organizer.name }}<br>
        開始日時：{{ event.start_time }}<br>
        場所：{{ event.location }}<br>
        詠草提出締切：{{ event.deadline }}<br>
        コメント：{{ event.ann_desc }}
    </div>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ tanka_form.as_p }}
            {{ participant_form.as_p }}
            {% if joined %}
                <p>参加表明済み。再提出で詠草を修正できます。</p>
            {% endif %}
            <button type="submit">提出</button>
            {% if joined %}
                <button type="submit" name="delete">参加取消</button>
            {% endif %}
        </form>
        <a href="{% url 'utakais:events_index' %}">戻る</a>
    </div>
{% endblock %}
