{% extends 'base.html' %}

{% block head_title %}
    歌会詳細
{% endblock %}

{% block body_title %}
    {% if event %}
    <h1>{{ event.title }}</h1>
    {% else %}
    <h1>歌会が見つかりません。</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        司会者：{{ event.organizer.name }}<br>
        開始日時：{{ event.start_time }}<br>
        場所：{{ event.location }}<br>
        詠草提出締切：{{ event.deadline }}<br>
        コメント：{{ event.ann_desc }}
    </div>
    <br>
    <div>
        <form for='submit_tanka' action="{{ request.path }}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if submitted %}
                <p>詠草提出済み。再提出で修正できます。</p>
            {% endif %}
            <button type='submit' name='submit_tanka'>提出</button>
        </form>
    </div>
    {% endblock %}
