{% extends 'base.html' %}

{% block head_title %}
    歌会一覧
{% endblock %}
{% block body_title %}
    <h1>
        歌会一覧
    </h1>
{% endblock %}
{% block content %}
    {% if not user.is_authenticated or not user.is_member %}
        ゲストユーザーのため、公開の歌会のみ表示されています。<br>
    {% endif %}
    {% if events %} 
    <div>
        {% for event in events %}
            <a href="{% url 'utakais:event_detail' pk=event.pk %}">{{ event.title }}</a><br>
        {% endfor %}
    </div>
    {% else %}
        現在予定されている歌会はありません。
    {% endif %}
    {% if user.is_member %}
        <a href="{% url 'utakais:event_create' %}">歌会を作成</a><br>
    {% endif %}
{% endblock %}